{% extends "blog/base.html" %}
{%block content%}
    <h1> About Page </h1>
    <p>Hello! Welcome to the blog site of RUET. Here, you can find the updated posts that are posted by the registered users.
        No one can delete any post except the user who has posted it.
        So, Don't get influenced by any rumors!
        You will get informed if there's any official notice.
        Thank you!</p>
    <p>In this blog site:
        There are Login and register options.
        If you have no account till now, go for the register option and fill up the necessary information for registration.
        If you have an account already, log in to your account.
        You can see the posts that are already uploaded even if you don't have any account.
        If you want to post anything, you need to log in to your account.
        There will be a title and content option.
        The user will write the description of the post in the content.
        There will be a list of posts shown on the page. If there are more pages, you can go to the next pages. And if you want to scroll the previous one, you can go to the previous pages.
        The user name and title will be highlighted in every post.
        The user who has uploaded the post can update or delete the post later. Other than that user, no one can update or delete the post.
        You can log out from your id after finishing your work.</p>
    
{% endblock content %}

